.iconHolder{
	position: fixed;
	left: 20px;
	width: 80px;	
	height: 80px;
	background-color: #ECF0F3;
	cursor: pointer;
	//box-shadow: -10px -10px 15px #FFF, 10px 10px 15px  #D1D9E6;
	box-shadow: 10px 10px 15px  rgba(0,0,0,0.19);
	border-radius: 10px;
	overflow: hidden;
}

.icon{
	position: absolute;
	left: 8px;
	top: 8px;
	width: 80%;
}

.backgroundVideo{
	position: absolute;
	opacity: 0;
	//width: 100%;
}

#bottomHolder{
	position: absolute;
	left: 0px;
	width: 120px;
	top: 0px;
	height: 520px;
	//background-color: #ECF0F3;
	z-index: -1;
	//border-radius: 0px 0px 50px 0px;
	overflow: hidden;
	//box-shadow: 10px 10px 15px  rgba(0,0,0,0.19);
}

#titleText{
	position: absolute;
	//bottom: 100px;
	//background-color: white;
	width: 200px;
	height: 60px;
	//box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24),0 8px 20px 0 rgba(0,0,0,0.19);
	
}
#videoContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}
#mainText{
	margin: 100px 10px;
	text-align: left;
	//position: absolute;
	//z-index: 2;
	text-shadow: -2px -2px 4px #FF5285, 2px 2px 4px #3CECFF;
}
#mainText .p{
	text-shadow: -2px -2px 4px #FF5285, 2px 2px 4px #3CECFF;
}

#topText{
	position: absolute;
	top: 10px;
	right: 60px;
	width: 100%;
	//background-color: white;
	text-shadow: ;
}

#topText: p {
	text-shadow: ;
}

#topText:hover {
	text-shadow: -2px -2px 4px #FF5285, 2px 2px 4px #3CECFF;
	cursor: pointer;	
}

p, a{
//	text-shadow: -2px -2px 4px #FF5285, 2px 2px 4px #3CECFF;
}

.previewVideo{
	position:absolute;
	top:0px; 
	width: 100%;
	height: 100%;
	z-index: - 10;
	opacity: 0;
}


.mobileText{
	font-size:18px;
	text-align: left;
	margin: 10px;
}

#textClip{
	width: 100%;
	height: 100%;
	position: absolute;
	clip: rect(0px, 1000px, 1000px, 60px);
}

@media only screen and (min-width: 0px) {

	#socialHolder{
		position: absolute;
		z-index: 1;
		width: 100%;
		right: 0px;
		bottom: 60px;
		display: flex;
		align-items: center;
		justify-content: center 
	}

	.socialIcon{
		width: 7%;
		z-index: 1;
		padding: 10px;
		cursor: pointer;
	}
}

@media only screen and (min-width: 501px) {

	#socialHolder{
		position: absolute;
		z-index: 1;
		width: 300px;
		right: -40px;
		top: 80px;
		display: block;
		align-items: ;
		justify-content: ; 
	}

	.socialIcon{
		width: 10%;
		z-index: 1;
		padding: 10px;
		cursor: pointer;
	}
}

.socialIcon:hover{
	filter: brightness(400%);
}